config:

  eventhouse.host: app
  eventhouse.port: 750
  eventhouse.auth_token: Y2xpZW50MTpzZWNyZXQx

  jaegger.host: jaegger
  jaegger.port: 6831
  jaegger.service_name: projector

  mysql.dsn: "projector:projector@tcp(mysql:3306)/projection_go"
